# See http://help.github.com/ignore-files/ for more about ignoring files.

#Firebase credentials
/src/app/api-keys.ts
/src/file-control-value-accessor.ts
/src/file-input.validator.ts
/storage.rules
/database.rules.json



# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
/e2e
/functions
/firebase.json
/src/app/auth/
/src/app/app.component.ts



# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db


